*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}
.div1{
    display: flex;
    justify-content: space-between;
}
.div1_1{
    margin-left: 200px;
}
.div1_1 img{
    height: 150px;
    width: 300px;
}
.div1_2{
    height: 30px;
    width: 1400px;
    margin-top: 70px;
}
.div1_2 ul li{
    display: flex;
    justify-content: space-between;
    display: inline-block;
    margin-right: 40px;
    margin-left: 30px;
    font-size: 0.7cm;
}
.div2 img{
    height: 900px;
    width: 100%;
}
.div3 {
    height: 700px;
    width: 100%;
    display:  flex;
    margin-top: 70px;
}
.div3_1 img{
    height: 700px;
    width: 700px;
    margin-left: 160px;
}
.div3_2{
    margin-top: 250px;
    height: 400px;
    width: 1200px;
    margin-left: 40px;
}
.div3_2 h2{
    font-size: 1.1cm;
}
.div3_2 p{
    font-size: 0.7cm;
    margin-top: 10px;
}
.div4{
    height: 700px;
    width: 100%;
    background-color: rgb(193, 201, 222);
}
.div4_1{
    margin-top: 20px;
}
.div4_1 h2{
    text-align: center;
    font-size: 1.1cm;
}
.div4_2 img{
    width: 500px;
    margin-left: 850px;
    margin-top: 10px;
}
.div4_3 p{
    text-align: center;
    font-size: 0.7cm;
    width: 1900px;
    margin-left: 150px;
    margin-top: 20px;
}
.div4_4{
}
.div4_4 img{
    background-color: white;
    width: 400px;
    height: 400px;
    margin-top: 50px;
    justify-content: space-between;
    border: black solid;
    margin-right: 30px;
    margin-left: 230px;
}
.div5{
    height: 650px;
    width: 100%;
    background-color: orange;
    margin-top: 50px;
    border: solid black;
}
.div5_1{
}
.div5_1 h2{
    text-align: center;
    font-size: 1.3cm;
    height: 50px;
    padding-top: 50px;
}
.div5_2 img{
    width: 500px;
    margin-left: 850px;
    margin-top: 20px;
}
.div5_3{
    display: flex;
}
.div5_3_1{
    background-color: white;
    width: 400px;
    height: 300px;
    margin-top: 90px;
    justify-content: space-between;
    border: black solid;
    margin-left: 115px;
}
.div5_3_1 img{
    background-color: white;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin-left: 40px;
}
.div5_3_1 p{
    text-align: center;
    font-size: 0.7cm;
    margin-top: 20px;
}

.div5_3_2{
    background-color: white;
    width: 400px;
    height: 300px;
    margin-top: 90px;
    justify-content: space-between;
    border: black solid;
    margin-left: 115px;
}
.div5_3_2 img{
    background-color: white;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin-left: 40px;
}
.div5_3_2 p{
    text-align: center;
    font-size: 0.7cm;
    margin-top: 20px;
}

.div5_3_3{
    background-color: white;
    width: 400px;
    height: 300px;
    margin-top: 90px;
    justify-content: space-between;
    border: black solid;
    margin-left: 115px;
}
.div5_3_3 img{
    background-color: white;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin-left: 40px;
}
.div5_3_3 p{
    text-align: center;
    font-size: 0.7cm;
    margin-top: 20px;
}

.div5_3_4{
    background-color: white;
    width: 400px;
    height: 300px;
    margin-top: 90px;
    justify-content: space-between;
    border: black solid;
    margin-left: 115px;
}
.div5_3_4 img{
    background-color: white;
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin-left: 40px;
}
.div5_3_4 p{
    text-align: center;
    font-size: 0.7cm;
    margin-top: 20px;
}

.div6{
    height: 1660px;
    width: 100%;
    background-color: rgb(193, 201, 222);
}
.div6_1 h2{
    text-align: center;
    font-size: 1.3cm;
    padding-top: 50px;
}
.div6_2 p{
    text-align: center;
    font-size: 0.7cm;
    margin-top: 20px;
    font-weight: bold;
}

.div6_3 img{
    width: 500px;
    margin-left: 850px;
    margin-top: 20px;
}

.div6_4{
    height: 1370px;
    width: 80%;
    margin-left: 210px;
    margin-top: 20px;
}

.div6_4_1{
    display: flex;
}
.div6_4_1_1{
    height: 400px;
    width: 40%;
    border: solid black;
    border-radius: 50px;
}
.div6411in_1{
    display: flex;
}
.div6411in_1 img{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
}
.div6411in_1 h2{
    font-size: 0.9cm;
    margin-top: 60px;
    margin-left: 50px;
}
.div6411in_2{
    margin-top: 30px;
}

.div6411in_2 li{
    font-size: 0.8cm;
    margin-left: 30px;
}
.div6_4_1_2{
    height: 400px;
    width: 40%;
    border: solid black;
    border-radius: 30px;
    margin-left: 340px;
}
.div6412in_1{
    display: flex;
}
.div6412in_1 img{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
}
.div6412in_1 h2{
    font-size: 0.9cm;
    margin-top: 60px;
    margin-left: 50px;
}
.div6412in_2{
    margin-top: 30px;
}

.div6412in_2 li{
    font-size: 0.8cm;
    margin-left: 30px;
}

.div6_4_2{
    display: flex;
    margin-top: 50px;
}
.div6_4_2_1{
    height: 400px;
    width: 40%;
    border: solid black;
    border-radius: 50px;
}
.div6421in_1{
    display: flex;
}
.div6421in_1 img{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
}
.div6421in_1 h2{
    font-size: 0.9cm;
    margin-top: 60px;
    margin-left: 50px;
}
.div6421in_2{
    margin-top: 30px;
}

.div6421in_2 li{
    font-size: 0.8cm;
    margin-left: 30px;
}
.div6_4_2_2{
    height: 400px;
    width: 40%;
    border: solid black;
    border-radius: 30px;
    margin-left: 340px;
}
.div6422in_1{
    display: flex;
}
.div6422in_1 img{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
}
.div6422in_1 h2{
    font-size: 0.9cm;
    margin-top: 60px;
    margin-left: 50px;
}
.div6422in_2{
    margin-top: 30px;
}

.div6422in_2 li{
    font-size: 0.8cm;
    margin-left: 30px;
}

.div6_4_3{
    display: flex;
    margin-top: 50px;
}
.div6_4_3_1{
    height: 400px;
    width: 40%;
    border: solid black;
    border-radius: 50px;
}
.div6431in_1{
    display: flex;
}
.div6431in_1 img{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
}
.div6431in_1 h2{
    font-size: 0.9cm;
    margin-top: 60px;
    margin-left: 50px;
}
.div6431in_2{
    margin-top: 30px;
}

.div6431in_2 li{
    font-size: 0.8cm;
    margin-left: 30px;
}

.div6_4_3_2{
    height: 400px;
    width: 40%;
    border: solid black;
    border-radius: 30px;
    margin-left: 340px;
}
.div6432in_1{
    display: flex;
}
.div6432in_1 img{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
}
.div6432in_1 h2{
    font-size: 0.9cm;
    margin-top: 60px;
    margin-left: 50px;
}
.div6432in_2{
    margin-top: 30px;
}

.div6432in_2 li{
    font-size: 0.8cm;
    margin-left: 30px;
}

.div7{
    height: 1000px;
    width: 100%;
}
.div7_1 img{
    width: 2200px;
    height: 900px;
    margin-top: 20px;
    margin-left: 30px;
}

.div8{
    height: 1100px;
    width: 100%;
    background-color: orange;
    margin-top: 50px;
}
.div8_1{
}
.div8_1 h2{
    text-align: center;
    font-size: 1.3cm;
    height: 50px;
    padding-top: 50px;
}
.div8_2 img{
    width: 500px;
    margin-left: 850px;
    margin-top: 20px;
}
.div8_3{
    height: 950px;
    width: 90%;
    margin-left: 100px;
    margin-top: 50px;
}
.div8_3_1{
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: space-between;
}
.div8_3_2{
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: space-between;
}

.div9{
    height: 1100px;
    width: 100%;
    margin-top: 50px;
}
.div9_1 h2{
    text-align: center;
    font-size: 1.3cm;
    height: 50px;
    padding-top: 50px;
}
.div9_2 img{
    width: 500px;
    margin-left: 850px;
    margin-top: 20px;
}

.div9_3{
    height: 900px;
    width: 90%;
    margin-top: 50px;
    display: flex;
}
.div9_3_1{
    height: 800px;
    width: 50%;
    margin-top: 80px;
    margin-left: 80px;
}
.div9_3_1 input{
    font-size: 0.5cm;
    height: 60px;
    width: 400px;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
}
.div9_3_1 h2{
    font-size: 0.8cm;
}
.div9_3_1 button{
    font-size: 0.8cm;
    height: 60px;
    width: 800px;
    margin-left: 80px;
    margin-top: 60px;
    background-color: yellow;
    font-weight: bolder;
}
#msg{
    width: 855px;
    height: 200px;
}
.div9_3_2{
    height: 700px;
    width: 50%;
}
.div9_3_2 img{
    height: 700px;
    width: 500;
    margin-left: 150px
}
.divds{
    display: flex;
}
.divds h4{
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 0.9cm;
}

.div10{
    height: 800px;
    width: 100%;
    margin-top: 50px;
}
.div10_1 h2{
    text-align: center;
    font-size: 1.3cm;
    height: 50px;
    padding-top: 50px;
}
.div10_2 img{
    width: 500px;
    margin-left: 850px;
    margin-top: 20px;
}
.div10_3 p{
    border: solid black;
    height: 50px;
    width: 1200px;
    margin-top: 20px;
    text-align: left;
    font-size: 0.7cm;
}
.div10_3{
    margin-left: 550px;
    margin-top: 100px;
}

.div11{
    background-color: rgb(193, 201, 222);
    height: 800px;
    width: 100%;
}
.div11_1 img{
    height: 150px;
    width: 500px;
    margin-top: 150px;
    margin-left: 850px;
}
.div11_2{
    display: flex;
    justify-content:  space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
}
.div11_2_1 h2{
    font-size: 0.8cm;
}
.div11_2_1 p{
    font-size: 0.7cm;
    width: 900px;
    margin-top: 10px;
}

.div11_2_2 h2{
    font-size: 0.8cm;
}
.div11_2_2 li{
    font-size: 0.7cm;
}

.div11_2_3 h2{
    font-size: 0.8cm;
}
.div11_2_3 li{
    font-size: 0.7cm;
}